<h1>{{morning.date}}</h1>
<h3>Sleep Rating: {{morning.rating}}</h3>
<h3>Morning Mood: {{morning.mood}}</h3>
<h3>Notes: {{morning.notes}}</h3>
{{!-- link to morning report --}}



<form id="delete-night" method="POST" action="/sleepLog/{{night.id}}?_method=DELETE">
  <label for='deleting night'>
    <input type="submit" name="_method" value="delete">
  </label>
</form>