<h1> {{ user.name }}'s Profile </h1>
<hr>
<h2> Age: {{ user.age }}</h2>
<h2> Weight: {{ user.weight }} lbs</h2>


<h2><a href="../sleepLog/{{user.id}}">{{user.name}}'s Sleep Log</a></h2>
<a href="../sleepLog/createNight">Add night</a>

{{!-- <button><a href="./editUser">Edit Profile</button> --}}
<br>
<form id="delete-user" method="POST" action="/users/{{user.id}}?_method=DELETE">
  <label for='deleting user'>
    <input type="submit" name="_method" value="delete">
  </label>
</form>